body{
	/*font-family: Calibri, "Times New Roman", Times, serif;*/
	background-image: url("gradient-grey-white-linear-1920x1080-c2-808080-ffffff-a-15-f-14.svg");
	background-attachment:fixed;
}

table, th, td {
	/*border-spacing: 5px;*/
	/*border: 1px solid black;*/
	border-collapse: collapse;
	margin-top:0px;
	text-align: center;
	padding-right: 5px;
}

/*#chart, #teams{
	display:inline-block;
}*/

tbody tr:nth-of-type(odd){
	background-color: #eee;
}

tbody tr:nth-of-type(even){
	background-color: white;
}

#pagenav{
	margin-left:5px;
	padding-left:0px;
	margin-bottom:5px;
	position:fixed;
}

#pagenav li{
	display:inline;
	padding:5px 5px 5px 5px;
	font-size:1.25em;
	cursor:pointer;
	border-radius:2px;
	margin-right:10px;
	font-weight:bold;
}

#pagenav a{
	color: inherit;
	text-decoration:none;
}

#datepicker{
	margin-top:70px;
	margin-left:5px;
	position:fixed;
}

/*#navbar0 li{
	display:inline;
	padding:5px 5px 5px 5px;
	font-size:1.25em;
	cursor:pointer;
	border-radius:10px;
	margin-right:10px;
	font-weight:bold;
}*/

#navbar{
	margin-top:260px;
	margin-left:0px;
	padding-left:120px;
	position:fixed;
	list-style-type:none;
	text-align: right;
}

#teams{
	margin-top:335px;
	margin-left:85px;
	position:fixed;
	font-size:11pt;
}

.selected{
	color:black;
	background:#e3f3f7;
	border-radius:3px;
	box-shadow:3px 3px 8px
}

#navbar li{
	/*padding-bottom:5px;*/
	font-size:1.25em;
	cursor:pointer;
	border-radius:10px;
	/*margin-right:10px;*/
	font-weight:bold;
	padding: 0px 7px 5px 5px;
	border-radius:2px;
	margin-bottom:7px;
}

#navbar li:hover, #pagenav li:hover{
	text-shadow:1px 1px 3px #adabab;
}

#navbar0, #batters, #pitchers{
	margin-left:250px;
}

#chart thead{
	color:white;
	background:black;
	cursor:pointer;
}

#chart{
	margin-top:16px;
	height:750px;
	/*overflow:auto;*/
	overflow-x:hidden;
	overflow-y:auto;
	display:inline-block;		/*http://stackoverflow.com/questions/9189810/css-display-inline-vs-inline-block*/
	padding-right:5px;
}

#chart tbody tr:hover{
	font-weight: bold;
}

#chart th:hover{
	color:black;
	background:white;
}

#pitchers{
	display:none;
}